	<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Socket IO Chat with Node!</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="https://unpkg.com/vue"></script>
</head>

<body>
	<main id="app">

		<!-- login form -->
		<div class="loginDis">
			<div class="loginDiv">
				<h1>Welcome to the chat</h1>
				<form class="logForm"> 
					<label for="nickname">What's your Good Name?</label>
					<input v-model='nickname' type="text" id="nickname" class="nickname" placeholder="Name?" required>
					<button @click.prevent='addNewMember' type="submit" class="nicknameButton">submit</button>
				</form>

			</div>
		</div>

			<form class="form-container">
				<textarea v-model="message" class="message" type="text" autocomplete="off" id="textarea"></textarea>
				<input @click.prevent="dispatchMessage" type="submit" class="subMsg">
			</form>

		<section class="messages">
			<ul id="messages">
				<!-- render a new message component for every message -->
				<newmessage :msg="message" v-for="message in messages"></newmessage>
			</ul>
		</section>

	</main>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
</body>

</html>