<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Socket IO Chat with Node!</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="https://unpkg.com/vue"></script>
</head>

<body>
	<main id="app">

		<!-- login form -->
		<div class="loginDis">
			<div class="loginDiv">
				<h1>Welcome to the chat</h1>
				<p>Please add your gamer tag to connect with other players!</p>
				<form class="logForm"> 
					<label for="nickname">What's Your Gamer tag?</label>
					<input v-model='nickname' type="text" id="nickname" class="nickname" placeholder="Name?" required>
					<button @click.prevent='addNewPlayer' type="submit" class="nicknameButton">submit</button>
				</form>

			</div>
		</div>


		<section class="form-container">
			<label for="nickname">Your Good Name (optional)</label>
			<input type="text" id="nickname" class="nickname" placeholder="What is your good name?">

			<form>
				<label for="message">Message</label>
				<textarea v-model="message" class="message" type="text" autocomplete="off" id="textarea"></textarea>
				<input @click.prevent="dispatchMessage" type="submit">
			</form>
		</section>

		<section class="messages">
			<ul id="messages" v-for="message in messages">
				<!-- render a new message component for every message -->
				<newmessage :msg="message"></newmessage>
			</ul>
		</section>
	</main>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
</body>

</html>